body {
  background-color: #0B1C2D;
}

h1 {
  color:SeaGreen;
  margin-left: 0px;
}

h4 {
  color: SeaGreen;
  margin-left: 0px;
}

h3 {
    color: CadetBlue;
    margin-left: 0px;
}

p {
  color: White;
  style : bold;
  margin-left: 0px;
}

li {
    color: White;
}

table{
    color: White;
}

th{
color: SeaGreen;
}

b {
color: White;
}